/* CSS Resets in reset.css */

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

html {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  max-width: 1400px;
  background-color: rgb(239, 239, 239);
}

.header-content,
.main-content,
.footer-content {
  margin: 0 48px;
}

h2 {
  font-size: 2rem;
  margin: 0.7rem 0;
}

header {
  min-height: 480px;
  background-image: linear-gradient(
    -15deg,
    rgb(255, 255, 255, 0) 50%,
    rgb(5, 152, 201) 50%
  );
}

.header-content {
  position: relative;
  padding-top: 36px;
}

.header-content .headshot {
  float: left;
  height: 40vw;
  max-height: 400px;
  min-height: 280px;
  margin-right: 1.5rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.3);
}

.header-content h1 {
  position: absolute;
  top: min(40vw - 1rem - 12px, 400px - 1rem - 12px);
  left: 1.5vw;
  font-size: 3.5rem;
  color: rgb(237, 237, 237);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.about-me-container {
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.3);
  background-color: rgb(245, 245, 245);
  border-radius: 12px;
  padding: 2rem 1.5rem;
  margin-top: min(calc(116px - 6%), 80px);
  margin-left: 1.5rem;
}

.about-me-container p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: gray;
}

.about-me-container .links {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.about-me-icon {
  width: 30px;
}

main {
  box-sizing: border-box;
  margin: 24px 0;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 48px 24px;
  justify-content: center;
}

.project-card {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.3);
}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 2px 4px 1px hsl(0deg 0% 0% / 0.3);
}

.project-info {
  padding: 18px;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.project-header h3 {
  font-size: 1.2rem;
}

.project-links {
  display: flex;
  gap: 12px;
}

.project-icon {
  width: 24px;
}

.project-description {
  color: rgb(111, 111, 111);
  line-height: 1.3;
}

footer {
  background-color: rgb(5, 152, 201);
  color: rgb(248, 247, 247);
}

footer h2 {
  margin: 0;
}

footer :not(h2) {
  font-size: 1.5rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  font-size: 1.2rem;
}

.footer-content .contact-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-right: 12px;
}

.footer-content .contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-content .contacts > * {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-content img.phone,
.footer-content img.email {
  height: 1em;
  filter: invert(0.95);
}

.footer-content .contact-container .links {
  display: flex;
  gap: 18px;
}

.footer-content .contact-container .links img {
  filter: invert(0.95);
  width: 40px;
}

.footer-content .footer-headshot {
  /* flex: 1; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

/* MEDIA QUERIES */

/*  Tablet */
@media (max-width: 800px) {
  .header-content h1 {
    text-align: right;
    top: 3rem;
    right: 0;
  }

  .header-content h2 {
    text-align: center;
  }
}

/* When projects grid only has 1 column */
@media (max-width: 719px) {
  main h2,
  footer h2 {
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 1rem 0;
  }

  .footer-content .footer-headshot {
    width: 100%;
    height: 400px;
  }

  .footer-content .links {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .header-content,
  .main-content,
  .footer-content {
    margin: 0 24px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-content .headshot {
    float: none;
    margin: 0;
    width: 100%;
    height: auto;
    min-height: initial;
    max-height: initial;
  }

  .header-content h1 {
    position: relative;
    top: -1.1em;
    left: 0;
    align-self: flex-start;
    text-align: left;
    padding: 0 1rem;
  }

  .header-content h1.wrapped {
    transform: translateY(-50%);
  }

  .about-me-container {
    margin: -2rem 0 0 0;
  }

  .about-me-container.wrapped {
    margin-top: -5.5rem;
  }
}
